$TTL 86400
@   IN  SOA     masterdns.hsine.chadly. root.hsine.chadly. (
        2011071001  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          masterdns.hsine.chadly.
@       IN  A           192.168.230.164
@       IN  A           192.168.230.159
@	IN  A           192.168.230.158
masterdns       IN  A   192.168.230.164
client          IN  A   192.168.230.159
client          IN  A   192.168.230.158

